@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "English";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --normal-bg: #111;
}
.A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: bold;
}
html {
  /* font-size: 1.1vh; */
  -ms-overflow-style: none;
  font-size: 1.1vw;
  /* scroll-behavior: smooth; */
}
html::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--normal-bg);
  width: 100%;
  height: max-content;
  /* scroll-behavior: smooth; */
}
#root {
  width: 100%;
  height: max-content;
}
.App {
  width: 100%;
  height: max-content;
}
* {
  font-family: "Wanted Sans Variable";
  text-align: center;
  /* background-color: var(--normal-bg); */
  color: white;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
img {
  object-fit: cover;
}
#ViewPortContainer {
  width: 100vw;
  height: max-content;
  overflow-x: hidden;
}
.mainContainer {
  height: 100vh;
}
/* Main Start */
.Main.mainContainer {
  /* background-color: var(--normal-bg); */
  width: 100%;
  z-index: 100;
  /* display: none; */
}
/* nav start */
.Nav.mainContainer {
  max-width: 100vw !important;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: var(--normal-bg);
  z-index: 101010;
  transition: 1s;
}
.Nav.mainContainer.active {
  left: 50%;
  transform: translateX(-50%);
}
#Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  height: 100vh;
  font-size: 3.6rem;
}
#Nav * {
  font-weight: bold;
  /* font-weight: normal; */
  transition: 0.5s;
  font-family: "English";
}
#Nav > li {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#Nav > li > ul {
  width: max-content;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-50%);
  height: max-content;
}
#Nav > li > ul > li,
#Nav > li > ul > li * {
  /* overflow-y: hidden; */
  color: white;
}
#Nav .nav-seperate {
  position: absolute;
  width: 120%;
  top: 50%;
  left: 50%;
  height: 6px;
  background-color: white;
  transform-origin: left;
  transform: translate(-45%, -50%) scaleX(0%);
  opacity: 0;
  z-index: 100;
}
#Nav > li > ul > li:first-child {
  transition: 0.1s;
  /* line-height: 6.25rem; */
}
#Nav > li > ul > li:last-child {
  /* line-height: 12px; */
}
#Nav > li > ul:hover > li {
  letter-spacing: 5px;
}
#Nav > li > ul:hover > li > * {
  color: var(--normal-bg);
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}
#Nav > li > ul:hover > .nav-seperate {
  transform: translate(-45%, -50%) scaleX(100%);
  opacity: 1;
  width: 120%;
}
#Nav > li > ul:hover > li:first-child {
  transform: skewX(10deg);
  color: var(--normal-bg);
}
#Nav > li > ul > li:first-child > a {
  display: flex;
  height: max-content;
  align-items: center;
}
/* nav end */
/* index */
#indexContainer {
  width: 100%;
  height: max-content;
}
#indexContainer #aboutMe {
  height: 100vh;
  overflow: hidden !important;
}
#indexContainer #aboutMe * {
  background-color: rgba(0, 0, 0, 0);
}
#indexContainer .textContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#indexContainer #changeText {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#indexContainer #changeText p {
  position: absolute;
  display: block;
  font-weight: bold;
  width: 100%;
  margin: 0;
  font-size: 3rem;
  opacity: 0;
}
#indexContainer .followingObj {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
#indexContainer .followingObj img {
  width: 100%;
  height: 100vh;
  filter: blur(10px) brightness(30%);
  opacity: 0;
}

#indexContainer .followingObj:nth-of-type(1) img,
#indexContainer #changeText p:nth-of-type(1) {
  animation: 50s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(2) img,
#indexContainer #changeText p:nth-of-type(2) {
  animation: 50s 8.3s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(3) img,
#indexContainer #changeText p:nth-of-type(3) {
  animation: 50s 16.6s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(4) img,
#indexContainer #changeText p:nth-of-type(4) {
  animation: 50s 24.9s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(5) img,
#indexContainer #changeText p:nth-of-type(5) {
  animation: 50s 33.2s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(6) *,
#indexContainer #changeText p:nth-of-type(6) {
  animation: 50s 41.5s visualTxtAnimation infinite;
}

#indexContainer .followingObj:nth-of-type(1) .objInner {
  border: 3px solid rgb(95, 189, 158);
  animation: 50s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(2) .objInner {
  border: 3px solid rgb(120, 177, 120);
  animation: 50s 8.3s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(3) .objInner {
  border: 3px solid rgb(221, 172, 221);
  animation: 50s 16.6s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(4) .objInner {
  border: 3px solid white;
  animation: 50s 24.9s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(5) .objInner {
  border: 3px solid rgb(92, 173, 173);
  animation: 50s 33.2s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(6) .objInner {
  border: 3px solid rgb(207, 255, 134);
  animation: 50s 41.5s visualExplanationAnimation infinite;
}

#indexContainer .followingObj .objInner {
  position: absolute;
  opacity: 0;
}
#indexContainer .followingObj .objInner div {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#indexContainer .followingObj .objInner.style {
  border-width: 3px;
  /* border-width: 3px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-height: 1px;
  overflow: hidden;
}
#indexContainer .followingObj .objInner.style * {
  font-size: 1rem;
}
#indexContainer .followingObj .objInner.style:hover {
  background-color: #fff;
}
#moveToMenu {
  position: fixed;
  top: 50%;
  left: 95%;
  transform: translateY(-50%);
  font-size: 100px;
  cursor: pointer;
  z-index: 110000;
}
#moveToMenu svg {
  transition: 0.5s;
}
#moveToMenu > input:checked ~ label > svg {
  rotate: 180deg !important;
}
@keyframes visualTxtAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  1.6% {
    opacity: 1;
    transform: translateY(0px);
  }
  15% {
    opacity: 1;
    transform: translateY(0px);
  }
  16.6% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes visualExplanationAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0px;
  }
  1.2% {
    opacity: 0;
    transform: translateY(0px);
    max-height: 0px;
  }

  1.6% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 0px;
  }
  5.6% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
  13% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
  15% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 0px;
  }
  15.6% {
    opacity: 0;
  }
  16.6% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0px;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0px;
  }
}
