@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "English";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0;
}
:root {
  --normal-bg: #111;
}
.eng {
  font-family: "English";
}
.A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: bold;
}
html {
  /* font-size: 1.1vh; */
  -ms-overflow-style: none;
  font-size: 1.1vw;
  /* scroll-behavior: smooth; */
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--normal-bg);
  width: 100%;
  height: max-content;
  /* scroll-behavior: smooth; */
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
#root {
  width: 100%;
  height: max-content;
}
.App {
  width: 100%;
  height: max-content;
}
* {
  font-family: "Wanted Sans Variable";
  text-align: center;
  /* background-color: var(--normal-bg); */
  color: white;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
img {
  object-fit: cover;
}
#ViewPortContainer {
  width: 100vw;
  height: max-content;
  overflow-x: hidden;
}
.mainContainer {
  height: 100vh;
}
/* Main Start */
.Main.mainContainer {
  /* background-color: var(--normal-bg); */
  width: 100%;
  z-index: 100;
  /* display: none; */
}
/* nav start */
.Nav.mainContainer {
  max-width: 100vw !important;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: var(--normal-bg);
  z-index: 101010;
  transition: 1s;
}
.Nav.mainContainer.active {
  left: 50%;
  transform: translateX(-50%);
}
#Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  height: 100vh;
  font-size: 3.6rem;
  z-index: 1000000;
}
#Nav * {
  font-weight: bold;
  /* font-weight: normal; */
  transition: 0.5s;
  font-family: "English";
}
#Nav > li {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#Nav > li > ul {
  width: max-content;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-50%);
  height: max-content;
}
#Nav > li > ul > li,
#Nav > li > ul > li * {
  /* overflow-y: hidden; */
  color: white;
}
#Nav .nav-seperate {
  position: absolute;
  width: 120%;
  top: 50%;
  left: 50%;
  height: 6px;
  background-color: white;
  transform-origin: left;
  transform: translate(-45%, -50%) scaleX(0%);
  opacity: 0;
  z-index: 100;
}
#Nav > li > ul > li:first-child {
  transition: 0.1s;
  /* line-height: 6.25rem; */
}
#Nav > li > ul > li:last-child {
  /* line-height: 12px; */
}
#Nav > li > ul:hover > li {
  letter-spacing: 5px;
}
#Nav > li > ul:hover > li > * {
  color: var(--normal-bg);
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}
#Nav > li > ul:hover > .nav-seperate {
  transform: translate(-45%, -50%) scaleX(100%);
  opacity: 1;
  width: 120%;
}
#Nav > li > ul:hover > li:first-child {
  transform: skewX(10deg);
  color: var(--normal-bg);
}
#Nav > li > ul > li:first-child > a {
  display: flex;
  height: max-content;
  align-items: center;
}
/* nav end */
/* #page-side-line {
  position: fixed;
  height: 100%;
  z-index: 1000000;
  transition: 0.75s;
  display: flex;
  font-size: 6rem;
} */
#mouse-track-img {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  z-index: 9999999;
  pointer-events: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222;
  border: 2px solid #fff;
  border-radius: 100%;
  transition: rotate 0.75s;
}
#mouse-track-img * {
  transition: opacity 0.75s;
  width: 100%;
}
#ban-scroll {
  position: absolute;
  /* display: none; */
}
#dummyWidth {
  top: 0;
  width: 100%;
  height: 0;
}
/* index */
#indexContainer {
  width: 100%;
  height: max-content;
}
#indexContainer #aboutMe {
  height: 100vh;
  overflow: hidden !important;
}
#indexContainer #aboutMe * {
  background-color: rgba(0, 0, 0, 0);
}
#indexContainer .textContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#indexContainer #changeText {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#indexContainer #changeText p {
  position: absolute;
  display: block;
  font-weight: bold;
  width: 100%;
  margin: 0;
  font-size: 3rem;
  opacity: 0;
}
#indexContainer .followingObj {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
#indexContainer .followingObj img {
  width: 100%;
  height: 100vh;
  filter: blur(10px) brightness(30%);
  opacity: 0;
}

#indexContainer .followingObj:nth-of-type(1) img,
#indexContainer #changeText p:nth-of-type(1) {
  animation: 50s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(2) img,
#indexContainer #changeText p:nth-of-type(2) {
  animation: 50s 8.3s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(3) img,
#indexContainer #changeText p:nth-of-type(3) {
  animation: 50s 16.6s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(4) img,
#indexContainer #changeText p:nth-of-type(4) {
  animation: 50s 24.9s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(5) img,
#indexContainer #changeText p:nth-of-type(5) {
  animation: 50s 33.2s visualTxtAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(6) *,
#indexContainer #changeText p:nth-of-type(6) {
  animation: 50s 41.5s visualTxtAnimation infinite;
}

#indexContainer .followingObj:nth-of-type(1) .objInner {
  border: 3px solid rgb(95, 189, 158);
  animation: 50s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(2) .objInner {
  border: 3px solid rgb(120, 177, 120);
  animation: 50s 8.3s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(3) .objInner {
  border: 3px solid rgb(221, 172, 221);
  animation: 50s 16.6s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(4) .objInner {
  border: 3px solid white;
  animation: 50s 24.9s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(5) .objInner {
  border: 3px solid rgb(92, 173, 173);
  animation: 50s 33.2s visualExplanationAnimation infinite;
}
#indexContainer .followingObj:nth-of-type(6) .objInner {
  border: 3px solid rgb(207, 255, 134);
  animation: 50s 41.5s visualExplanationAnimation infinite;
}

#indexContainer .followingObj .objInner {
  position: absolute;
  opacity: 0;
}
#indexContainer .followingObj .objInner div {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#indexContainer .followingObj .objInner.style {
  border-width: 3px;
  /* border-width: 3px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-height: 1px;
  overflow: hidden;
}
#indexContainer .followingObj .objInner.style * {
  font-size: 1rem;
}
#indexContainer .followingObj .objInner.style:hover {
  background-color: #fff;
}
#moveToMenu {
  position: fixed;
  top: 50%;
  left: 95%;
  transform: translateY(-50%);
  font-size: 100px;
  cursor: pointer;
  z-index: 1100000;
}
#moveToMenu svg {
  transition: 0.5s;
}
#moveToMenu > input:checked ~ label > svg {
  rotate: 180deg !important;
}
@keyframes visualTxtAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  1.6% {
    opacity: 1;
    transform: translateY(0px);
  }
  15% {
    opacity: 1;
    transform: translateY(0px);
  }
  16.6% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes visualExplanationAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0px;
  }
  1.2% {
    opacity: 0;
    transform: translateY(0px);
    max-height: 0px;
  }

  1.6% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 0px;
  }
  5.6% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
  13% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
  15% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 0px;
  }
  15.6% {
    opacity: 0;
  }
  16.6% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0px;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0px;
  }
}
/* AboutMe */
#aboutContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 5%;
}
#aboutContainer .myFace {
  width: 30%;
}
#aboutContainer .myFace img {
  width: 100%;
}
#aboutContainer .myInfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 7.5%;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#aboutContainer .myInfo h1 {
  font-size: 3rem;
  font-weight: bold;
}
#aboutContainer .allTheInfos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 15%;
  height: max-content;
}
#aboutContainer .allTheInfos .text-info-container {
  width: 100%;
}
#aboutContainer .allTheInfos .text-info-container h1 {
  font-size: 2rem;
}
/* Skills */
#skill-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  /* gap: 7.5%; */
}
#skill-container h1 {
  font-weight: bold;
  font-size: 15rem;
  font-style: italic;
  padding-top: 6.6vh;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 10%;
}
/* parallax */
#parallax-container {
  width: 100% !important;
  height: 100vh;
  transition: 1s;
  /* overflow: hidden; */
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-axios 5s linear infinite;
  transform: perspective(1600px);
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 25%;
}
#parallax-container .skills-container {
  width: 30%;
  border: 1px solid white;
  padding: 1.5rem;
  height: 75% !important;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 80%;
  /* transform: translateX(-50%) translateY(-50%); */
  transition: 1s;
  background-color: #fff;
  /* transform-origin: left; */
}
#parallax-container .skills-title {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  width: max-content;
  margin: 0 auto;
}
#parallax-container .skills-detail {
  height: 95%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding-top: 0.5rem;
}

#parallax-container .skills-container:nth-of-type(2) .skills-detail {
  grid-template-rows: repeat(4, 1fr);
}
#parallax-container .skills-container:nth-of-type(3) .skills-detail,
#parallax-container .skills-container:nth-of-type(4) .skills-detail,
#parallax-container .skills-container:nth-of-type(5) .skills-detail,
#parallax-container .skills-container:nth-of-type(6) .skills-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#parallax-container .skills-detail > div {
  height: 100%;
}
#parallax-container .skills-detail .skill-img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5px;
}

.skill-img-cont {
  position: relative;
  transition: 0.75s;
  border: 1px solid rgba(0, 0, 0, 0);
  overflow: hidden;
}
.percenttage {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  bottom: calc(var(--perc) * -1);
  left: 0;
  height: var(--perc);
  transition: 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}
.percenttage.horizontal {
  width: var(--perc);
  height: 100%;
  bottom: 0;
  left: calc(var(--perc) * -1);
}
.skill-img-cont:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.skill-img-cont:hover > .percenttage {
  bottom: 0;
}
.skill-img-cont:hover > .percenttage.horizontal {
  left: 0;
}
.skill-img-cont .percenttage > img {
  width: calc(100% / var(--imgC));
  object-fit: cover;
}
/* skill-detail */
/* skill-count */
#skill-count {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 999999999;
}
#skill-count input {
  display: none;
}

#skill-count label {
  position: relative;
  min-width: 2.25rem;
  height: 2.25rem;
  /* border: 3px solid var(--border-color); */
  border: 3px solid white;
  background-color: #222;
  border-radius: 10000px;
  /* transition:0.75s; */
  overflow: hidden;
  display: flex;
  /* font-size: 0; */
  gap: 0;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
}
#skill-count label:hover .slide-text {
  transition: 0.75s;
  width: 2rem;
}
#skill-count label .slide-text {
  width: 0px;
  transition: 0.75s;
  opacity: 0;
  transform-origin: left;
}
#skill-count label .slide-text p {
  color: var(--text-color);
  white-space: nowrap;
}
#skill-count input:checked + div label {
  max-width: max-content;
  font-size: 1rem;
}
#skill-count input:checked + div > label > .slide-text {
  width: 8rem;
  overflow: visible;
  opacity: 1;
}
#skill-count .slide-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--border-color);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#skill-count input:checked + div .slide-icon {
  margin-right: 0.15rem;
}
/* Archive */
#archive-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
#archive-container > .archive-header {
  padding-top: 5rem;
}
#archive-container h1 {
  font-weight: bold;
}
#archive-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: calc(80% - 5rem);
}
#archive-contents .archive-each {
  width: 15%;
  /* border: 3px solid var(--border-color); */
  border: 3px solid var(--icon-border);
  border-radius: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#archive-contents label {
  z-index: 100000;
  opacity: 1;
  transition: 0.5s;
}
#archive-contents label > img {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.5s;
}
#archive-contents .archive-each > div {
  position: absolute;
  width: calc(var(--own-scale) / 2);
  height: 0px;
  background-color: var(--icon-border);
  transition: 0.75s;
  z-index: 99999;
  scale: 0;
}
#archive-contents .archive-each > input {
  display: none;
}
#archive-contents .archive-each:hover label > img {
  rotate: 15deg;
  scale: 120%;
  border: 2px solid var(--icon-border);
  padding: 20px;
}

#archive-contents .archive-each input:checked ~ div {
  height: 10px;
  width: calc(var(--own-scale) / 20);
  scale: calc(var(--own-scale) * 6);
  z-index: 100001;
}
/* archive-detail */
#archive-detail {
  width: 0;
  height: 0;
  opacity: 0;
  transition: 2s;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#archive-detail h2 {
  color: black;
  font-weight: bold;
}
#archive-detail * {
  color: black;
}
#archive-detail *:not(h3) {
  font-weight: bold;
}
#archive-detail button {
  margin: 0;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: 2px solid black;
  transition: 0.5s;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  z-index: 10000000;
}
#archive-detail button * {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1rem;
  display: block;
}
#archive-detail button:hover {
  background-color: #000;
}
#archive-detail button:hover * {
  color: var(--need-color) !important;
}
#archive-detail .archive-txt-container {
  /* line-height: 4rem; */
}
#archive-detail .archive-txt-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}
.link-btn {
  top: 5rem !important;
}
.link-btn:hover * {
  color: var(--need-color) !important;
}
/* Floating Img */
.float,
.fly {
  overflow: visible;
  scale: 70% !important;
}
.float {
  animation: floatingAnime var(--anime-sec) infinite;
}
.fly {
  animation: flyingAnime 9s infinite;
  opacity: 10%;
  left: -1000%;
  top: -1000%;
}
#fly1 {
  animation-delay: 3s;
}
#fly2 {
  animation-delay: 6s;
}
#float0 {
  --anime-sec: 5s;
  --startX: 3%;
  --endX: 3%;
  --startY: 1%;
  --endY: 6%;
}
#float1 {
  --anime-sec: 8s;
  --startX: -7%;
  --endX: -7%;
  --startY: 33%;
  --endY: 46%;
}
#float2 {
  --anime-sec: 6s;
  --startX: 1%;
  --endX: 1%;
  --startY: 77%;
  --endY: 89%;
}
#float3 {
  --anime-sec: 9s;
  --startX: 83%;
  --endX: 83%;
  --startY: 0%;
  --endY: 18%;
}
#float4 {
  --anime-sec: 10s;
  --startX: 80%;
  --endX: 80%;
  --startY: 32%;
  --endY: 44%;
}
#float5 {
  --anime-sec: 10s;
  --startX: 86%;
  --endX: 86%;
  --startY: 46%;
  --endY: 58%;
}
#float6 {
  --anime-sec: 7s;
  --startX: 85%;
  --endX: 85%;
  --startY: 70%;
  --endY: 60%;
}
#float7 {
  --anime-sec: 15s;
  --startX: -18%;
  --endX: -18%;
  --startY: 44%;
  --endY: -22%;
}
#float8 {
  --anime-sec: 17s;
  --startX: 66%;
  --endX: 66%;
  --startY: -18%;
  --endY: 55%;
}
@keyframes floatingAnime {
  0% {
    left: var(--startX);
    top: var(--startY);
  }
  50% {
    left: var(--endX);
    top: var(--endY);
  }
  100% {
    left: var(--startX);
    top: var(--startY);
  }
}
@keyframes flyingAnime {
  0% {
    left: var(--startX);
    top: var(--startY);
  }
  100% {
    left: var(--endX);
    top: var(--endY);
  }
}
/* portfolio */
#portfolio-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
#portfolio-container > div {
  transition: 0.75s;
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
#portfolio-container h1 {
  font-weight: bold;
}
#portfolio-choose-container {
  width: 100vw;
  position: relative;
}
#portfolio-detail-container {
  position: absolute;
  width: calc(var(--portfolio-amount) * 100vw);
  border-bottom: 0.5rem solid white;
  height: 65vh;
  top: 0;
  left: 0;
  transition: 1.25s cubic-bezier(0.65, 0.25, 0.25, 0.65);
  /* animation: testFor 10s infinite; */
}
/* @keyframes testFor {
  0% {
    left: 0;
    transform: translateX(0);
  }
  50% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    left: 0;
    transform: translateX(0);
  }
} */
#portfolio-details {
  display: flex;
  justify-content: space-between;
}
#portfolio-details {
  width: 3rem;
  height: 3rem;
}
#portfolio-details .portfolio-detail {
  width: 100%;
  height: 65vh;
}
#station-line {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(calc(50% + 0.25rem));
  display: flex;
  justify-content: space-between;
  z-index: 100001;
}
#station-line > div {
  width: 100%;
  height: 5rem;
  position: relative;
}
#station-line div div {
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid white;
  border-radius: 10000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}
#move-dot {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 7px solid white;
  left: 25%;
  scale: 80%;
  transform-origin: calc(50% - 1rem) calc(100% - 0.25rem);
  bottom: 0;
  transform: translate(-20.5%, calc(50% - 0.225rem));
  border-radius: 10000px;
  /* transition: 1s cubic-bezier(0.445, 0.95, 0.55, 0.35); */
  z-index: 100000;
  transition: 0.25s ease-in-out;
  /* transition: 0.25s cubic-bezier(0.9, 2, 0.5, 0.5); */
}
#portfolio-details {
  width: 100%;
}
.portfolio-detail {
  display: flex;
  gap: 5%;
  align-items: center;
  width: 100vw !important;
}
.img-side {
  width: 43.5%;
  display: flex;
  position: relative;
  margin-left: 5%;
  height: calc(50vw * (952 / 1920));
  overflow: hidden;
}
.img-side .show-img {
  position: relative;
  width: 100%;
  height: calc(43.5vw * (952 / 1920));
  border: 5px solid white;
  overflow: hidden;
}
.img-side img {
  width: 100%;
  position: absolute;
  filter: brightness(90%);
  transition: 0.75s;
  left: 0;
  top: 0;
}
.txt-side {
  width: 40%;
}
#next-or-back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100001;
  display: flex;
}
#next-or-back > button {
  width: 50%;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.75s;
  font-size: 3rem;
  padding: 3rem;
  border: none;
}
#next-or-back > button > * {
  /* color: #aaa !important; */
}
#next-or-back > button:hover {
  cursor: pointer;
  opacity: 1;
}
#next-or-back .back {
  /* background-color: rgba(247, 100, 100, 0.5); */
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0),
    rgba(255, 87, 87, 0.2),
    rgba(255, 39, 39, 0.5),
    rgba(255, 59, 59, 0.8)
  );
  border-radius: 0px 30px 30px 0;
  justify-content: start;
}
#next-or-back .next {
  /* background-color: rgba(120, 255, 172, 0.5); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(96, 184, 84, 0.2),
    rgba(39, 252, 57, 0.5),
    rgba(49, 255, 67, 0.8)
  );
  border-radius: 30px 0px 0px 30px;
  justify-content: end;
}
#indicator {
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: 100002;
  top: calc(100% - 0.25rem);
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
#indicator > div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 100px;
  transition: 0.75s;
}
.portfolio-detail .txt-side {
  height: 50vh;
  perspective: 3400px;
}
.txt-side .txt-header p {
  color: #aaa;
  font-size: 0.75rem;
}
.txt-side p span {
  color: #aaa;
}
.txt-side .txt-body {
  text-align: left;
  font-size: 0.9rem;
  line-height: 2rem;
  position: relative;
  transition: 0.75s;
  border: 3px solid rgba(0, 0, 0, 0);
  height: 45vh;
  width: 100%;
  transition: 0.75s;
  background-color: rgba(0, 0, 0, 0);
  /* transform: perspective(10800px); */
  perspective: 1900px;
  display: block;
}
.txt-side .txt-body b {
  font-size: 1rem;
}
.txt-side .txt-body > div {
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition: 0.5s;
  top: 2rem;
  text-align-last: left;
  height: 35vh;
  padding: 0rem 1rem;
  backface-visibility: hidden;
}
.txt-side .txt-body span {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.75s;
  display: block;
  width: 80%;
  height: 35vh;
  animation: key 5s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3D(-50%, -50%, 0px) rotateX(75deg);
  z-index: 100010;
}
.txt-side .txt-body span * {
  font-size: 20rem;
}
.txt-body:hover {
  border: 3px solid #fff;
}
.txt-body:hover span {
  opacity: 1;
}
.part-two h5 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 0.25rem;
}
.part-two a {
  display: block;
  font-size: 1rem;
  color: white;
  text-decoration: underline;
}
.part-two h4 {
  margin: 0;
  padding: 0.15rem 0;
}
.part-two .lang-detail {
  margin-top: 1rem;
}
.part-two .lang-detail div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
/* Contact */
#contact-container h1 {
  height: max-content;
}
#contact-detail {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  perspective: 30px;
  position: relative;
  transition: 10s;
}

#contact-line {
  position: relative;
  width: 3rem;
  height: 100%;
  background-color: #fff;
  transition: 1s;
  top: 20%;
  transform: translate3D(0, 0, 0) rotateX(30deg);
}
.middle-line {
  position: absolute;
  height: 100%;
  width: 0.15rem;
  border: 3px dotted black;
  left: 50%;
  transform: translateX(-50%);
}
